
.education-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.education-content img {
  width: auto; /* Ensures the image scales to fit the container */
  height: 80%; /* Maintains the aspect ratio */
  object-fit: cover; /* Crops the image to fit within the container */
  max-width: 350px; /* Adjust to the desired height of the carousel */
}

.text-content {
  text-align: start;
  width: 100%;
}
.edu-image {
  width: 50%;
  background-color: var(--image-color);
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider {
  height: 45em;
}

.slider > * {
  position: absolute;
  top: 20%;
  left: 100%;
  animation: 17s autoplay infinite ease;
  width: 100%; /* Ensure child spans full width */
  //height: 100%; /* Ensure child spans full height */
  //background-color: lightblue; /* Add a visible background for testing */
}

@keyframes autoplay {
  0% {left: 200%}
  33.33% {left: 5%}
  40.00% {left: -100%}
  50.00% {left: -200%}
  100% {left: -250%}
}

.slider > *:nth-child(1) {animation-delay: 0s}
.slider > *:nth-child(2) {animation-delay: 6s}
.slider > *:nth-child(3) {animation-delay: 11s}

@media screen and (max-width: 600px) {

  .slider {
    height: 30em; // for smaller screen
  }

  .text-content {
    padding-left: 15px; // to fix issue of bullets points are visible before start of animation in smaller screen
  }
}

@media screen and (min-width: 600px) {

  .text-content {
    font-size: 20px; /*to make course list larger in larger screen */
  }

  .education-content img {
    width: 100%; /* Ensures the image scales to fit the container */
    height: auto; /* Maintains the aspect ratio */
    object-fit: cover; /* Crops the image to fit within the container */
  }
}
