<div class="slider">
  <ng-container *ngFor="let education of educationList">
    <div class="row">
      <div class="col-sm-8 education-content">
        <img class="" src="{{education?.image}}" alt="{{education?.location}}">
      </div>
      <div class="col-sm-4">
        <div class="text-content">
          <h2> {{ education?.institute }}</h2>
          <h2> {{ education?.location }}</h2>
          <h3> {{ education?.degree }}</h3>
          <h3> {{ education?.year }}</h3>
        </div>
        <ng-container *ngIf="education && education.courses && education.courses.length > 0">
          <div class="text-content">
            <ng-container *ngFor="let course of education?.courses">
              <li style="text-align: start;">{{ course }}</li>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

