<div class="edu-card">
  <i class="fa-solid fa-user-graduate education-icon"></i>
  <h2> University of Moratuwa, Sri Lanka</h2>
  <h3> Bsc (Hons) In Information Technology (2017)</h3>
</div>

<div class="edu-card-list">
  <ul>
    <li>Web Development</li>
    <li>Enterprise Application Development</li>
    <li>Database Management Systems</li>
    <li>Big Data Analytics</li>
    <li>Deep Learning Architectures</li>
    <li>Data Mining & Data Warehousing</li>
    <li>Artificial Neural Networks & Evolutionary Computing</li>
    <li>Automata Theory</li>
  </ul>
</div>
