<div class="general-row no-gutters">
  <div class="col-md-7 col-sm-12 col-12 heading-section">
    <div class="heading-section" style="border: none">
      <div class="content-row">Hi, I'm</div>
      <ng-container [ngSwitch]="count">
        <!-- the same view can be shown in more than one case -->
        <ng-container *ngSwitchCase=1>
          <div class="">
            <span class="animation-text" style="font-family: Courgette, arial" typingAnimation [typeSpeed]="type_speed" [condition]="start" [startDelay]="type_delay">
              Rahal Danthanarayana
            </span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase=2>
          <div class="">
            <span class="animation-text" typingAnimation [typeSpeed]="type_speed" [condition]="start" [startDelay]="type_delay">
            A Full-stack Developer
            </span>
          </div>
        </ng-container>
        <div *ngSwitchCase=3>
          <div class="">
            <span class="animation-text" typingAnimation [typeSpeed]="type_speed" [condition]="start" [startDelay]="type_delay">
            A Cloud Engineer
            </span>
          </div>
        </div>
        <div *ngSwitchCase=4>
          <div class="">
            <span class="animation-text" typingAnimation [typeSpeed]="type_speed" [condition]="start" [startDelay]="type_delay">
            A Data Analyst
            </span>
          </div>
        </div>
        <div *ngSwitchCase=5>
          <div class="">
            <span class="animation-text" typingAnimation [typeSpeed]="type_speed" [condition]="start" [startDelay]="type_delay">
            A Mobile App developer
            </span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="image col-md-3 col-sm-12 col-12">
    <img src="../../assets/my_pic_background_edited.png" alt="my_pic" class="heading-image">
  </div>
</div>

