.heading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  min-width: 50vw;
  height: 97vh;
  text-align: center;
}

.heading-image {
  object-fit: contain;/**/
  height: 500px;
  z-index: 1;
}

.image:hover:after {
  transform: scale(1);
  transition: 0.7s ease;
}


.content-row {
  display: flex;
  flex-direction: row;
  font-size: xx-large;
}

.animation-text {
  left-margin: 5px;
  font-size: 300%;
  font-weight: bold;
}

.image {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition-delay: var(--transition-delay);
}

//.image:hover, .image:focus {
//  transform: scale(1.1);
//}

.social-contact-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.social-contact-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.social-contact-row a {
  margin: 10px;
}

.general-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.tools img {
  height: 50px;
  margin: 20px;
  color: var(--text-color);
}
