.heading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  min-width: 50vw;
  height: 97vh;
}

.heading-image {
  object-fit: contain;
  height: 500px;
}

.content-row {
  display: flex;
  flex-direction: row;
}

.animation-text {
  left-margin: 5px;
  font-size: 300%;
  font-weight: bold;
}

.image {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.general-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
