<div class="spread">
  <div class="card-detail col-md-3 col-12">
    <div class="">
      <img class="image-logo" src="./../../assets/aws_pic1.png" alt="aws">
    </div>
    <div class="card-text">AWS Solutions Architect Associate</div>
  </div>
  <div class="card-detail col-md-3 col-12">
    <div class="">
      <img class="image-logo" src="./../../assets/aws_pic1.png" alt="aws">
    </div>
    <div class="card-text">AWS Cloud Practitioner</div>
  </div>
  <div class="card-detail col-md-3 col-12">
    <div class="">
      <img class="image-logo" src="./../../assets/google_transparent.png">
    </div>
    <div class="card-text">Google Data analyst course 1</div>
  </div>
</div>
