<div class="spread">
  <div class="card-detail further-hidden col-md-3 col-12">
    <div class="">
      <img class="image-logo" src="./../../assets/aws_pic1.png" alt="aws">
    </div>
    <div class="card-text">AWS Solutions Architect Associate</div>
  </div>
  <div class="card-detail further-hidden col-md-4 col-12">
    <div class="">
      <img class="image-logo" src="./../../assets/aws_pic1.png" alt="aws">
    </div>
    <div class="card-text">AWS Cloud Practitioner</div>
  </div>
  <div class="card-detail further-hidden col-md-4 col-12">
    <div class="">
      <img class="image-logo" src="./../../assets/google_transparent.png">
    </div>
    <div class="card-text">Google Data analyst
      <p>"Data Data Everywhere"</p></div>
  </div>
  <div class="card-detail further-hidden col-md-4 col-12">
    <div class="">
      <img class="image-logo" src="./../../assets/deep-learning.png">
    </div>
    <div class="card-text">Supervised Machine Learning: Regression and Classification</div>
  </div>
</div>
