<div class="experience-card">

  <div class="work-card col-12 col-md-4">
    <div class="">12/2022 - Present</div>
    <div class="">Associate Tech Lead</div>
    <div class="">Softcodeit Solutions (Pvt) LTD</div>
  </div>
  <div class="work-card col-12 col-md-4">
    <div class="">10/2020 - 12/2022</div>
    <div class="">Software Engineer</div>
    <div class="">Softcodeit Solutions (Pvt) LTD</div>
  </div>
  <div class="work-card col-12 col-md-4">
    <div class="">10/2019 - 10/2020</div>
    <div class="">Senior Software Engineer</div>
    <div class="">Codegen International (Pvt) LTD</div>
  </div>
  <div class="work-card col-12 col-md-4">
    <div class="">06/2017 - 10/2019/</div>
    <div class="">Software Engineer</div>
    <div class="">Global Trading Network</div>
  </div>
  <div class="work-card col-12 col-md-4">
    <div class="">03/2014 - 09/2014</div>
    <div class="">Software Engineer Trainee</div>
    <div class="">Codegen International (Pvt) LTD</div>
    <div class="">
      <p>&#9642; sis something</p>
    </div>
  </div>
</div>
