<div class="spread">
  <div class="card-detail further-hidden col-md-2 col-12" (click)="openBusProjectDetailModal()">
    <div class="">
      <i class="fa fa-bus bus-icon" title="Edit"></i>
    </div>
    <div class="card-text">{{ "bus_transit" | translate }}</div>
  </div>
  <div class="card-detail further-hidden col-md-2 col-12" (click)="openZeroRiskDetailModal()">
    <div class="">
      <img class="image-logo" style="width: 95%" src="./../../assets/zeroRisk/zerorisk-logo.png" alt="aws">
    </div>
  </div>
  <div class="card-detail further-hidden-right col-md-2 col-12" (click)="openMapGeneralizationModal()">
    <div class="">
      <i class="fa-solid fa-map-location-dot map-icon"></i>
    </div>
    <div class="card-text">{{ "map_generalization" | translate }}</div>
  </div>
  <div class="card-detail further-hidden-right col-md-2 col-12" (click)="openMapGeneralizationModal()">
    <div class="">
      <img class="image-logo" src="./../../assets/intellichef/submit-icon.png" alt="intellichef">
    </div>
    <div class="card-text">Intellichef</div>
  </div>
  <div class="card-detail further-hidden-right col-md-2 col-12" (click)="openWasteDumpAnalysisModal()">
    <div class="">
      <img class="image-logo" src="./../../assets/tableau.png" alt="waste-dump-logo">
    </div>
    <div class="card-text">{{ "waste_dump_analysis" | translate }}</div>
  </div>
</div>
