<div class="spread">
  <div class="card-detail further-hidden col-md-3 col-12" (click)="openBusProjectDetailModal()">
    <div class="">
      <i class="fa fa-bus bus-icon" title="Edit"></i>
    </div>
    <div class="card-text">Bus Transit Platform</div>
  </div>
  <div class="card-detail further-hidden col-md-3 col-12" (click)="openZeroRiskDetailModal()">
    <div class="">
      <img class="image-logo" src="./../../assets/aws_pic1.png" alt="aws">
    </div>
    <div class="card-text">ZeroRisk</div>
  </div>
  <div class="card-detail further-hidden col-md-3 col-12" (click)="openMapGeneralizationModal()">
    <div class="">
      <i class="fa-solid fa-map-location-dot map-icon"></i>
    </div>
    <div class="card-text">Map Generalization</div>
  </div>
</div>
