.card-detail {
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: darkgray;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.4);
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  min-width: 15vw;
  background-color: var(--card-color);
}

.card-detail:hover {
  background-color: var(--card-color-hover);
  transition-delay: 50ms !important;
  scale: 1.1;
}

.spread {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-text {
  font-weight: bold;
  font-size: 25px;
}

.image-logo {
  height: 80px;
  padding-top: 17px;
}


// make text smaller with smaller screen
@media screen and (max-width: 370px) {
  .card-text {
    font-size: 17px;
  }

  .image-logo {
    height: 20px;

    padding-top: 2px;
  }
}

// make card larger only for the larger screens, so smaller screen height will be automatic
@media screen and (min-width: 600px){
  .card-detail {
    height: 45vh;
  }
}



.bus-icon {
  color: #a6a6a6;
  size: 21px;
  font-size: 60px;
  margin-bottom: 5px;
}

.map-icon {
  color: #00dfeb;
  size: 21px;
  font-size: 60px;
  margin-bottom: 5px;
}

::ng-deep .my-custom-dialog-class {
  .mat-dialog-container {
    background-color: var(--background-color) !important;
    color: var(--text-color);
  }
}
