
.heading-section {
  display: flex;
  justify-content: center;
}

.menu-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
  background-color: var(--background-color);
  transition-delay: var(--transition-delay);
  display: flex;
  justify-content: space-between;
}

.sun, .moon {
  height:  50px;
  margin: 10px 20px 0 0;
  fill: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.moon:hover {
  transform: scale(1.1);
}

.sun:hover {
  transform: scale(1.1);
}

button {
  background: transparent;
  color: #ddd;
}

.menu-bar button {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-delay: var(--transition-delay);
}

.nav-buttons {

}

.theme-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select {
  background-color: #ddd;;
  color: black !important;
}
.main-container {
  background-color: var(--background-color);
  color: var(--text-color);
  transition-delay: var(--transition-delay);
}

section {
  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0 10px;
  scroll-margin-top: 80px;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  transition: all 2.5s;
}

.further-hidden {
  opacity: 0;
  transition: all 2.5s;
  transform: translateX(-100%);
}

.show {
  opacity:  1;
  transform: translateX(0);
}

.card-detail:nth-child(1) {
  transition-delay: 200ms;
}
.card-detail:nth-child(2) {
  transition-delay: 500ms;
}
.card-detail:nth-child(3) {
  transition-delay: 800ms;
}

.nav-button {
  border-radius: 16px;
  margin: 8px 5px;
  border: none;
  padding: 10px;
  color: var(--nav-bar-text-color);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.footer-content {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social-icon {
  font-size: 35px;
  transition: 0.5s ease;
  cursor: pointer;
  color: var(--text-color);
}

.social-icon:hover {
  transform: scale(1.1);
}

// to handle space issue when screen size is small
@media screen and (max-width: 400px) {
  .menu-bar button {
    padding: 8px !important;
    margin: 5px !important;
  }

  .animation-text {
    font-size: 250%;
  }
}
