
<div id="top-nav" class="menu-bar">
  <button class="about-me select" (click)="scroll(target)">About Me</button>
  <button class="experience" (click)="scroll(experience)">Experience</button>
  <button class="portfolio" (click)="scroll(portfolio)">Portfolio</button>
  <button class="certification" (click)="scroll(certifications)">Certifications</button>
</div>

<section #target class="hidden" id="about-me">
  <app-about-me></app-about-me>
</section>


<section #experience class="hidden" id="experience">
  <h1>Experience</h1>
  <app-experience></app-experience>
</section>



<section #portfolio class="hidden" id="portfolio" >
  <h2>portfolio</h2>
  <app-portfolio></app-portfolio>
</section>

<section #certifications class="hidden" id="certification">
  <h1>Certifications</h1>
  <app-certifications></app-certifications>
</section>


<router-outlet></router-outlet>
