
<div class="nav-bar sticky-top">
  <button class="" (click)="scroll(target)">About Me</button>
  <button class="" (click)="scroll(experience)">Experience</button>
  <button class="" (click)="scroll(portfolio)">Portfolio</button>
  <button class="" (click)="scroll(certifications)">Certifications</button>
</div>

<section #target class="hidden">
  <app-about-me></app-about-me>
</section>


<section #experience class="hidden" id="experience" >
  <h1>Experience</h1>
  <app-experience></app-experience>
</section>



<section #portfolio class="hidden" id="portfolio" >
  <h2>portfolio</h2>
</section>

<section #certifications class="hidden">
  <h1>Certifications</h1>
  <app-certifications></app-certifications>
</section>


<router-outlet></router-outlet>
