<div class="main-container">
  <h2 class="d-flex justify-content-center">Map Generalization</h2>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 portfolio-image">
        <div class="slider">
          <div class="slider-image">
            <img src="../../assets/map/map_3.png">
          </div>
          <div class="slider-image">
            <img src="../../assets/map/map_2.png">
          </div>
          <div class="slider-image">
            <img src="../../assets/map/map_1.png">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="col-12 col-md-6">
          <h3>Features</h3>

          <ul>
            <li>Identify important location on given map</li>
            <li>Filter out non important locations based on scale</li>
            <li>Update database by referring to Google API</li>
            <li>Visualization with QGIS</li>
          </ul>
        </div>
        <div class="col-12 col-md-6">
          <h3>Technologies</h3>

          <ul>
            <li>Python</li>
            <li>MatplotLib</li>
            <li>Google Api</li>
            <li>QGIS</li>
          </ul>
        </div>
      </div>
    </div>

    <footer>
      <div class="row icon">
        <a href="https://github.com/Rahal-Kanishka/mobile_application_for_buses">
          <i class="fa-brands fa-github d-flex justify-content-center"></i>
        </a>
      </div>
    </footer>
  </div>
</div>
