<div class="main-container">
  <h2 class="d-flex justify-content-center">Zero Risk</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-12">
        <div class="zeroRisk-slider">
          <div class="slider-image">
            <img src="../../assets/zeroRisk/language.JPG">
          </div>
          <div class="slider-image">
            <img src="../../assets/zeroRisk/ngmodule.png">
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <div class="col">
          <h3>Features</h3>
          <ul>
            <li>Marketplace</li>
            <li>Training Portal</li>
            <li>Sign In and Sign Up</li>
            <li>Password Reset</li>
          </ul>
        </div>
        <div class="col">
          <h3>Technologies</h3>
          <ul>
            <li>Angular</li>
            <li>Sprint Boot</li>
            <li>MySql</li>
          </ul>
        </div>
      </div>
    </div>

    <footer>
      <div class="row icon">
        <a href="https://pf.zerorisk.io/login">
          <i class="fa-solid fa-arrow-up-right-from-square  d-flex justify-content-center"></i>
        </a>
      </div>
    </footer>
  </div>
</div>
