<h2 class="d-flex justify-content-center">ZeroRisk</h2>
<div class="container">
  <div class="image-row overflow-hidden">
    <div class="col-12 portfolio-image">
      <img id="image1" class="image-detail" [src]=current_image>
    </div>
    <div class="col-12 row">
      <div class="col-12 col-md-6">
        <h3>Features</h3>

        <ul>
          <li>Seat reservation</li>
          <li>View the bus routes available</li>
          <li>Rate the Experience</li>
          <li>Report Misconduct</li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <h3>Technologies</h3>

        <ul>
          <li>Flutter</li>
          <li>NodeJs</li>
          <li>ExpressJs</li>
        </ul>
      </div>
    </div>
  </div>

  <footer>
    <div class="row icon">
      <a href="https://pf2.zerorisk.io/login">
        <i class="fa-solid fa-up-right-from-square"></i>
      </a>
    </div>
  </footer>


</div>
