/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body { font-family: Roboto, "Helvetica Neue", sans-serif;}

/*html, body { max-width: 100% }*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*defining variables*/
body {
  --background-color: white;
  --card-color: white;
  --text-color: black;
  --image-color: white;
  --nav-bar-button-color: #ddd;
  --nav-bar-text-color: var(--text-color);
  --transition-delay: 1s ease;
  --box-shadow-color: #777;
  --card-color-hover: #2a639d;
}

body.dark {
  --background-color: #2a353a;
  --card-color: #2a639d;
  --card-color-hover: white;
  --text-color: white;
  --image-color: white;
  --nav-bar-button-color: lightblue;
  --nav-bar-text-color: lightgrey;
  --box-shadow-color: #6a7580;
}

/*assign to property*/
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.regular-row {
  display: flex;
  flex-direction: row;
}
