<h2 class="d-flex justify-content-center">Bus Transit Platform</h2>
<div class="container">
  <div class="image-row overflow-hidden">
    <div class="col-12 col-md-4 portfolio-image">
      <img id="image1" class="" [src]=current_image>
    </div>
    <div class="col-12 col-md-4">
      <div class="col-12 col-md-6">
        <h3>Features</h3>

        <ul>
          <li>Seat reservation</li>
          <li>View the bus routes available</li>
          <li>Rate the Experience</li>
          <li>Report Misconduct</li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <h3>Technologies</h3>

        <ul>
          <li>Flutter</li>
          <li>NodeJs</li>
          <li>ExpressJs</li>
        </ul>
      </div>
    </div>
  </div>

  <footer>
  <div class="row icon">
    <a href="https://github.com/Rahal-Kanishka/mobile_application_for_buses">
      <i class="fa-brands fa-github d-flex justify-content-center"></i>
    </a>
  </div>
  </footer>


</div>
