.image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: 1s ease;
}



a:link {
  text-decoration: none;
}

.icon {
  display: flex;
  align-items: center;
}

i {
  font-size: 45px;
  color: var(--text-color);
  transition: 0.5s ease;
}

i:hover {
  transform: scale(1.1);
}



.slider {
  height: 36em;
  overflow: hidden; /* hide any overflow content */
  position: relative; /* set the position to relative for child elements */
}

.slider > * {
  position: absolute;
  top: 100%;
  left: 0;
  animation: 12s autoplay infinite ease;
}

@keyframes autoplay {
  0% {top: 100%}
  10% {top: 7%}
  33.33% {top: 7%}
  37.33% {top: -100%}
  100% {top: -100%}
}

.slider > *:nth-child(1) {animation-delay: 0s}
.slider > *:nth-child(2) {animation-delay: 4s}
.slider > *:nth-child(3) {animation-delay: 8s}
.slider > *:nth-child(4) {animation-delay: 12s}


.cdk-overlay-container {
  z-index: 9999 !important;
}

.slider-image {
  box-shadow: 10px 5px 5px #777;
}

.slider-image img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}


